argon2-cffi==18.1.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
dj-database-url==0.4.2
Django==2.0
django-crispy-forms==1.7.2
-e git://github.com/AndrewIngram/django-extra- 
views.git@aa58167af84d89feea286f9567a72cc5941360e4#egg=django_extra_views
django-heroku==0.1.0
django-multiselectfield==0.1.8
django-session-timeout==0.0.3
gunicorn==19.7.1
idna==2.7
mailsnake==1.6.4
numpy==1.14.5
pandas==0.23.3
Pillow==5.2.0
pipenv==2018.5.18
psycopg2==2.7.3.2
pycparser==2.18
python-dateutil==2.7.3
pytz==2017.3
requests==2.19.1
six==1.11.0
stripe==2.4.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
psycopg2==2.8.6
