
#psychics-list{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

td {
    padding: 20px;
    border: 1px solid #dddddd;
}


.credibility{
    width:7%;
}

.name{
    width:15%;
}

.history_label{
    width:15%;
}

.history_numbers{
    width:90%;
}

.btn{
    width:20%;
    height:10%;
}



