{% extends 'psychics/templatepage.html' %}

{% block history_iz %}
    
    {{ psychics.izolda.guessed|join:" " }}

{% endblock %}

{% block credibility_iz %}

    {{ psychics.izolda.ratings }}

{% endblock %}

{% block history_ger %}
    
    {{ psychics.germogen.guessed|join:" " }}

{% endblock %}

{% block credibility_ger %}

    {{ psychics.germogen.ratings }}

{% endblock %}

{% block history_sv %}
    
    {{ psychics.svyatozar.guessed|join:" " }}

{% endblock %}

{% block credibility_sv %}

    {{ psychics.svyatozar.ratings }}

{% endblock %}

{% block history_ev %}
    
    {{ psychics.evlampy.guessed|join:" " }}

{% endblock %}

{% block credibility_ev %}

    {{ psychics.evlampy.ratings }}

{% endblock %}


{% block history_num %}

    {{historynum|join:" "}}
    
{% endblock %}




{% block dinamic %}
    {% if sendstate == 0 %}
        {% include 'psychics/sendingnumber.html' %}
    {% elif sendstate == 1 %}
        {% include 'psychics/setnumber.html' %}
    {% endif %}
{% endblock %}















