{% extends 'psychics/templatepage.html' %}

{% block history_iz %}
    
    {{ guessed.izolda|join:" " }}

{% endblock %}

{% block credibility_iz %}

    {{ ratings.izolda }}

{% endblock %}

{% block history_ger %}
    
    {{ guessed.germogen|join:" " }}

{% endblock %}

{% block credibility_ger %}

    {{ ratings.germogen }}

{% endblock %}

{% block history_sv %}
    
    {{ guessed.svyatozar|join:" " }}

{% endblock %}

{% block credibility_sv %}

    {{ ratings.svyatozar }}

{% endblock %}

{% block history_ev %}
    
    {{ guessed.evlampy|join:" " }}

{% endblock %}

{% block credibility_ev %}

    {{ ratings.evlampy }}

{% endblock %}


{% block history_num %}

    {{historynum|join:" "}}
    
{% endblock %}




{% block dinamic %}
    {% if sendstate == 0 %}
        {% include 'psychics/sendingnumber.html' %}
    {% elif sendstate == 1 %}
        {% include 'psychics/setnumber.html' %}
    {% endif %}
{% endblock %}















